<div class="center">
  <img class="teamAfb" src="/assets/images/team.jpg">
    <h3>Welkom!</h3>
    <div class="row">    
      <div class="col">
        <p>Wij zijn een zeer gemotiveerd team en zijn trots op ons project
          en de leercurve die we allemaal zijn ondergaan. Onze robot beschikt over twee camera's. Een Pixy, die objecten kan leren en volgen.
          Vervolgens ook een Garmin Virb 360, voor een 'allround' foto of video.
          De Garmin wordt ondersteunt door een in hoogte verstelbare draadstang lift. 
          Ook hebben we een draadloze controller die de robot, alsook de lift kan besturen.
          En op deze lift is dan de Garmin bevestigd die bestuurd kan worden door deze web app.
        </p>                  
      </div>
      <div class="col">
        <p>Van links naar rechts. <br>Arno Mariman: Pixy camera & motorsturing <br>Sander Belmans: Garmin Virb 360 & web app
          <br>Bart Vermeylen: Technische tekeningen & ondersteuning<br>Maxim Wouters: Draadloze controller 
        </p>
      </div>
    </div>
  
</div>