.wrapper{
    background-color: #353535;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 150px;
}
a{
    color: #e55743;
    font-size: 28px;
    width: 10%;
    margin: auto;
    border-bottom: 2px solid currentColor;
}
img{
    height: 100%;
    margin: auto;
    padding-top: 20px;
}